# Generate JWT_SECRET with: openssl rand -hex 32
JWT_SECRET=replace-with-output-of-openssl-rand-hex-32

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_SECURITY_ANSWER=changeme

# Set to True if deploying with HTTPS
COOKIE_SECURE=False

# Path where the database file will live
DATA_PATH=path/to/your/data
